{% extends "base.html" %}

{% load static %}

{% block title %}Your Task{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/task.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class = "container mt-5">
  <table class = "table table-bordered" id="task-table">
    <thead class = "table-dark">
      <tr>
        <th class = "col-8 text-center">Task</th>
        <th class = "col-2 text-center">Status</th>
        <th class = "col-2 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      {% include "tasks/includes/partial_task_list.html" %}
    </tbody>
  </table>
</div>
<div class="modal fade" id="task-modal" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/task.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}