<button type="button" id="workspace-create-button" class="btn workspace-create-button" data-url="{% url "workspace_create" %}">
  <i class="fa-solid fa-plus"></i>
  Add Workspace
</button>
{% for workspace in workspaces %}
<a href="{% url 'task_list' task.workspace_id %}">
  <div class="workspace-edit btn-group dropend">  
    <button type="button" class="reveal-button rounded-circle dropdown-toggle" id="reveal-button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-ellipsis"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="reveal-button">
      <li><button type="button" class="btn dropdown-item" id="workspace-update-button" data-url="{% url "workspace_update" workspace.workspace_id %}" data-bs-toggle="modal" data-bs-target="#workspace-modal">
        Update
      </button></li>
      <li><button type="button" class="btn dropdown-item" id="workspace-delete-button" data-url="{% url "workspace_delete" workspace.workspace_id%}" data-bs-toggle="modal" data-bs-target="#workspace-modal">
        Delete
      </button></li>
    </ul>
  </div>
  <span class="workspace-label">{{ workspace.workspace_label }}</span>
</a>
{% endfor %}