{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>{% block title %}My Website{% endblock %}</title> {% endcomment %}
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}
    {% block message %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script src = "{% static "assets/js/jquery-3.7.1.min.js" %}"></script>
    <script src = "{% static "assets/js/all.min.js" %}"></script>
    <script src = "{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
    {% block script %}{% endblock %}
</html>