.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;  
    width: 100%;
    border-radius: 7px;
}
#task-button-create:hover{
    background-color: #68a3ca;
}