.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap: 20px;
    padding: 20px;
}

.workspace-create-button {
    width: 100%;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container a {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: inherit;
    display: block;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.workspace-create-button:hover{
    border-color: black;
}

.container a:hover{
    border-color: black;
}

.reveal-button{
    display: none;
    position: absolute;
    top: 5%;
    right: 1%;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container a:hover .reveal-button{
    display: inline-flex;
}
.workspace-edit{
    position: absolute;
    top: 1%;
    right: -17%;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
}
#workspace-button-update, #workspace-button-delete{
    display: none;
}