{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/workspace.css' %}">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block content %}
<div class="container" id="workspace-list">
  {% include "workspaces/includes/partial_workspace_list.html" %}
</div>
<div class="modal fade" id="workspace-modal" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/workspace.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}